@font-face {
  font-family: "Visby Round CF";
  src: url("../fonts/VisbyRoundCF-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Visby Round CF";
  src: url("../fonts/VisbyRoundCF-ExtraLight.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Visby Round CF";
  src: url("../fonts/VisbyRoundCF-Heavy.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Visby Round CF";
  src: url("../fonts/VisbyRoundCF-DemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Visby Round CF";
  src: url("../fonts/VisbyRoundCF-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Visby Round CF";
  src: url("../fonts/VisbyRoundCF-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("../fonts/VisbyRoundCF-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Visby Round CF";
  src: url("../fonts/VisbyRoundCF-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

/* Document Related Styles */

#dark {
  --navbar-background-color: #1d1f2b;
  --navbar-border-color: #5e5e5e;
  --text-color: #a5a5a5;
  --text-color-active: white;
  --body-background-color: hsl(245, 26%, 8%);
  --box-shadow: #00d5ff;
  --social-logo-color: 80%;
  --theme: white;
  --theme-bg: #1d1f2b;
  --pointer-color: white;
  --background-gradient1: hsla(245, 100%, 8%, 0.4) 0%;
  --background-gradient2: hsla(245, 10%, 40%, 0.4) 105.18%;
  --background-gradient: rgb(17, 16, 27);
  --border-box-color: hsla(245, 100%, 70%, 0.16);
  --box-shadow-inset: hsl(245, 26%, 4%);
  --box-shadow-n: hsl(245, 10%, 4%);
  --text-shadow: -15px -15px 30px var(--box-shadow-inset),
    15px 15px 30px var(--box-shadow-n);
  --project-title-box: hsl(245, 26%, 4%);
  --project-title-box-shadow1: hsl(0, 0%, 0%);
  --project-title-box-shadow2: hsla(244, 30%, 100%, 0.48);
  --github-filter: 100%;
}
#light {
  --navbar-background-color: #ffffff;
  --navbar-border-color: #a2a2a2;
  --text-color: #646464;
  --text-color-active: rgb(0, 0, 0);
  --body-background-color: #e7ebf0;
  --box-shadow: #00d5ff;
  --social-logo-color: 20%;
  --theme: gold;
  --theme-bg: gold;
  --pointer-color: #ffffff;
  --background-gradient1: rgba(0, 0, 0, 0.4) 0%;
  --background-gradient2: rgba(255, 255, 255, 0.4) 105.18%;
  --background-gradient: rgb(231, 235, 240);
  --border-box-color: rgba(255, 255, 255, 0.16);
  --box-shadow-inset: rgb(250, 251, 255);
  --box-shadow-n: rgb(166, 171, 189);
  --text-shadow: -15px -15px 30px var(--box-shadow-inset),
    15px 15px 30px var(--box-shadow-n);
  --project-title-box: hsl(210, 56%, 93%);
  --project-title-box-shadow1: hsl(0, 0%, 100%);
  --project-title-box-shadow2: hsla(208, 30%, 64%, 0.48);
  --github-filter: 0%;
}
.pointer-true {
  cursor: none;
}
.pointer-false {
  cursor: auto;
  --pointer: pointer;
}
.cursor {
  cursor: var(--pointer);
}

body {
  font-family: Visby Round CF;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.background-div {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  overflow: auto;
  background-color: var(--body-background-color);
  transition: background-color 1s ease-out;
  overflow-x: hidden;
  text-shadow: var(--text-shadow);
}

.pointer {
  position: fixed;
  height: 2vh;
  width: 2vh;
  background-color: var(--pointer-color);
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 10px 4px rgb(0, 213, 255);
  transform: scale(100%);
  transition: opacity ease-in-out 0.3s, transform ease-in 0.3s,
    box-shadow ease-in-out 1s, width cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s,
    height cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  z-index: 99999;
  pointer-events: none;
}

.site-content {
  box-sizing: border-box;
  margin-inline: clamp(8rem, 14vmax, 18rem);
}

/* Scroll Bar Styles */

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  margin-block: 2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-active);
}

/* Nav Bar  Component */

.nav-bar {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: clamp(7rem, 9vmax, 13rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease-out;
  background: linear-gradient(
      317.7deg,
      var(--background-gradient1),
      var(--background-gradient2)
    ),
    var(--background-gradient);
  background-blend-mode: soft-light, normal;
  border: 1px solid var(--border-box-color);
  box-shadow: -15px -15px 30px var(--box-shadow-inset),
    15px 15px 30px var(--box-shadow-n);
}

#image-active {
  filter: grayscale(0);
  transform: scale(110%);
  box-shadow: 0 0 0.7rem var(--box-shadow);
}
.my-image img {
  width: clamp(4.5rem, 6.5vmax, 8rem);
  height: clamp(4.5rem, 6.5vmax, 8rem);
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 30%;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}
.my-image img:hover {
  box-shadow: 0 0 0.7rem var(--box-shadow);
  filter: grayscale(50%);
}

.nav-title-icons {
  height: 1em;
  margin-right: 0.25em;
  padding: 0.25em 0.25em 0 0.25em;
}

.nav-item,
.socials,
.my-image {
  margin-block: clamp(1rem, 4vh, 3rem);
}
.text-item {
  color: var(--text-color);
  font-size: clamp(1rem, 1.4vmax, 4rem);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  cursor: var(--pointer);
  white-space: nowrap;
}
.text-item:hover,
.text-item:focus {
  color: var(--text-color-active);
}
.text-underline {
  margin-top: 0.6vh;
  width: 20%;
  border-bottom: 1px solid var(--text-color);
  transition: width 0.7s ease-in-out;
}
.text-item:hover ~ .text-underline {
  width: 100%;
  border-color: var(--text-color-active);
}
.text-item:focus ~ .text-underline {
  width: 100%;
  border-color: var(--text-color-active);
}

.socials img {
  height: clamp(1rem, 2vmax, 3rem);
  margin: 1vh;
  transition: transform 0.3s ease-in-out, filter 1s ease-in-out;
  filter: brightness(var(--social-logo-color));
}
.socials img:hover {
  transform: scale(120%);
}

/* Site Controls Component Static */

.controls,
.wave-1,
.wave-2 {
  position: fixed;
  width: clamp(13rem, 15vw, 15rem);
  height: clamp(3rem, 6vmin, 5rem);
  top: clamp(1rem, 6vmax, 4rem);
  right: clamp(0.5rem, 2vw, 2rem);
}

.controls {
  display: flex;
  z-index: 999;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--navbar-background-color);
  border: 1px solid var(--navbar-border-color);
  border-radius: clamp(30px, 3vh, 35px);
  box-shadow: 0 0 10px var(--box-shadow);
  overflow: hidden;
  transition: background-color 1s ease-out;
}
.wave-1,
.wave-2 {
  border: none;
  border-radius: clamp(2rem, 5vmax, 5rem);
  box-shadow: 0 0 2px var(--box-shadow), 0 0 2px var(--box-shadow);
}
.wave-1 {
  animation: waves 4s linear infinite;
}
.wave-2 {
  animation: waves 4s linear 2s infinite;
}
@keyframes waves {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.8);
    opacity: 0;
  }
}
.default-pointer {
  height: clamp(2rem, 5vh, 3rem);
}
.customCursor {
  height: clamp(1rem, 3vh, 3rem);
  width: clamp(1rem, 3vh, 3rem);
  border-radius: 50%;
  background-color: var(--pointer-color);
  box-shadow: 0 0 0.7rem var(--box-shadow);
}
.theme-toggle {
  height: clamp(1rem, 3vh, 3rem);
  width: clamp(1rem, 3vh, 3rem);
  border-radius: 50%;
  background-color: var(--theme-bg);
  box-shadow: inset 0.5rem -0.4rem 1px 1px var(--theme);
  transition: all 0.3s ease-in-out;
}

.theme-toggle[theme="light"] {
  box-shadow: inset 0 0 0.7rem 1.3rem var(--theme);
}
.music-icons {
  display: flex;
  height: clamp(1rem, 3vh, 3rem);
  align-items: flex-end;
}
.bar {
  max-width: 0.5rem;
  width: 0.25rem;
  background: var(--box-shadow);
  height: clamp(0.8rem, 0.6vh, 3rem);
  margin: 0 0.25rem;
  border-radius: 0.25rem;
}
.barOne {
  animation: bar 1s linear 0.5s infinite;
}
.barTwo {
  animation: bar 1s linear 0.25s infinite;
}
.barThree {
  animation: bar 1s linear infinite;
}
@keyframes bar {
  0% {
    height: 0.6rem;
  }

  50% {
    height: clamp(1rem, 3vh, 3rem);
  }
  100% {
    height: 0.6rem;
  }
}

@media only screen and (max-width: 1400px) {
  .controls,
  .wave-1,
  .wave-2 {
    position: fixed;
    height: clamp(12rem, 15vw, 17rem);
    width: clamp(2.4rem, 4vmax, 3rem);
    top: clamp(1rem, 4vmax, 5rem);
    right: clamp(2rem, 2vmax, 5rem);
  }

  .controls {
    display: flex;
    flex-direction: column;
    z-index: 999;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--navbar-background-color);
    border: 1px solid var(--navbar-border-color);
    border-radius: clamp(30px, 3vh, 35px);
    box-shadow: 0 0 10px var(--box-shadow);
    overflow: hidden;
    transition: background-color 1s ease-out;
  }
  .wave-1,
  .wave-2 {
    border: none;
    border-radius: clamp(2rem, 5vmax, 5rem);
    box-shadow: 0 0 2px var(--box-shadow), 0 0 2px var(--box-shadow);
  }
  @keyframes waves {
    0% {
      transform: scale(1, 1);
      opacity: 1;
    }

    100% {
      transform: scale(1.8, 1.2);
      opacity: 0;
    }
  }
}

/* Scroll Component */

.scroll-down {
  font-size: 1.2em;
  position: fixed;
  color: var(--text-color-active);
  bottom: clamp(2rem, 14vmax, 10vh);
  right: -2em;
  animation: scrollDown 1.5s ease-out infinite;
}

@keyframes scrollDown {
  0% {
    transform: rotate(90deg) translate(0, 0);
  }
  50% {
    transform: rotate(90deg) translateX(1em);
  }
  100% {
    transform: rotate(90deg) translate(0, 0);
  }
}

/* Home  Component */

.home-component {
  height: 100vh;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.intro-text {
  margin: 0;
  color: var(--text-color-active);
  font-size: clamp(3rem, 6vmax, 8rem);
}
.intro:first-child {
  color: var(--text-color);
  font-size: 2em;
}
.intro-info-div {
  margin-top: clamp(3rem, 3vmax, 5rem);
}
.intro-info {
  margin: 0;
  color: var(--text-color-active);
  font-size: clamp(1rem, 3vw, 6rem);
}
.transparent-text {
  font-weight: 900;
  font-size: 1.2em;
  color: transparent;
  background-image: url(../media/images/front-clip1.webp);
  background-size: cover;
  background-clip: text;
  animation: textbg 3s linear infinite;
}

@keyframes textbg {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

/*      Section Title Component       */

.section-title {
  color: var(--text-color-active);
  font-size: clamp(1rem, 1.2vmax, 2rem);
}
h1 {
  display: flex;
  width: 100%;
  white-space: nowrap;
  align-items: center;
}
.center-line {
  margin-left: 0.5em;
  height: 1px;
  background-color: var(--text-color-active);
  width: 30%;
}

/*      Skills Component       */

.skills-page {
  box-sizing: border-box;
  height: 100vh;
}
.core-skills {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill {
  /* flex: 1; */
  font-size: clamp(1rem, 1.2vmax, 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  color: var(--text-color-active);
  background-color: var(--navbar-border-color);
  padding: 0.5em;
  margin: 0.3em;
  opacity: 0;
  transform: translateY(600px);
  width: 10vw;
  height: 30vh;
  background: linear-gradient(
      317.7deg,
      var(--background-gradient1),
      var(--background-gradient2)
    ),
    var(--background-gradient);
  background-blend-mode: soft-light, normal;
  border: 1px solid var(--border-box-color);
  box-shadow: -15px -15px 30px var(--box-shadow-inset),
    15px 15px 30px var(--box-shadow-n);
  transition: transform 2s cubic-bezier(0.05, 0.61, 0.41, 0.95),
    opacity 1s cubic-bezier(0.05, 0.61, 0.41, 0.95),
    width 1s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.show {
  opacity: 1;
  transform: translateY(0);
}
.skill:hover {
  width: 20vw;
  transform: scale(105%);
  background-color: var(--body-background-color);
  background-image: url(..//media/images/front-clip.jpg);
}

div.skill img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1em;
  margin: auto;
}

.skill-logo {
  height: clamp(1rem, 4vw, 3rem);
}
@media only screen and (max-width: 750px) {
  .skill {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}
/*      Project Component       */

div [class*="project-"] {
  box-sizing: border-box;
  color: var(--text-color-active);
}

.projects-page {
  height: 100vh;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
  font-size: clamp(0.8rem, 1.2vmax, 2rem);
}
.project-box {
  display: flex;
  align-items: center;
  justify-content: end;
  height: clamp(450px, 60vmin, 650px);
  width: clamp(350px, 40vw, 520px);
  border-radius: 2em;
  padding: 2em;
  background: linear-gradient(
      317.7deg,
      var(--background-gradient1),
      var(--background-gradient2)
    ),
    var(--background-gradient);
  background-blend-mode: soft-light, normal;
  border: 1px solid var(--border-box-color);
  box-shadow: -15px -15px 30px var(--box-shadow-inset),
    15px 15px 30px var(--box-shadow-n);
}

.project-inner-box {
  height: clamp(350px, 50vmin, 550px);
  width: clamp(250px, 34vmin, 350px);
  border-radius: 2em;
  padding: 2em;
  background: linear-gradient(
      317.7deg,
      var(--background-gradient1),
      var(--background-gradient2)
    ),
    var(--background-gradient);
  background-blend-mode: soft-light, normal;
  border: 1px solid var(--border-box-color);
  box-shadow: -15px -15px 30px var(--box-shadow-inset),
    15px 15px 30px var(--box-shadow-n);
}
.project-design {
  display: flex;
  flex-direction: column;
}
.project-top {
  height: clamp(7rem, 16vmin, 12rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-image {
  position: relative;
  height: clamp(7rem, 16vmin, 12rem);
  border-radius: 0.5em;
  margin-left: -4em;
  object-fit: cover;
  background: linear-gradient(
      317.7deg,
      var(--background-gradient1),
      var(--background-gradient2)
    ),
    var(--background-gradient);
  background-blend-mode: soft-light, normal;
  border: 1px solid var(--border-box-color);
  box-shadow: -15px -15px 30px var(--box-shadow-inset),
    15px 15px 30px var(--box-shadow-n);
}
.project-image:hover {
  background: linear-gradient(
      317.7deg,
      var(--background-gradient1),
      var(--background-gradient2)
    ),
    var(--background-gradient);
  background-blend-mode: soft-light, normal;
  border: 10px solid var(--border-box-color);
  box-shadow: -20px -20px 50px var(--box-shadow-inset),
    20px 20px 50px var(--box-shadow-n);
}

.project-tech-used {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: clamp(0.5rem, 1vmax, 1rem);
  margin: 0 0 0 1em;
}

.project-info-all {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: clamp(1rem, 2vh, 4rem);
}
.project-title {
  font-weight: 800;
  padding: 0.25em;
  border-radius: 1em;
  background: var(--project-title-box);
  box-shadow: inset -1.3px -1.3px 2.8px var(--project-title-box-shadow1),
    inset 1.3px 1.3px 2.8px var(--project-title-box-shadow2);
  border-radius: 9px;
  border: 2px solid var(--project-title-box);
}
.project-info {
  font-size: clamp(0.6rem, 1vmax, 1rem);
}
.links {
  height: 1.25em;
  margin: 1em 1em 0 0;
  transition: transform ease-in 0s;
}
.links:hover {
  transform: scale(120%);
}
.github {
  filter: invert(var(--github-filter));
}

/*       Contact Page             */

.contact-page {
  height: 100vh;
}

.contact-form {
}

.map-container {
  height: 50vh;
  width: 40vw;
}
