@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}
	::-webkit-scrollbar {
		/* width: 8px; */
		display: none;
	}

	::-webkit-scrollbar-thumb {
		background: #c3c3c3;
	}
}
